releases/zamdahealth-pos-desktop-stg_1.1.2_x64-setup.exe releases/zamdahealth-pos-desktop-stg_1.1.3_x64-setup.exe releases/zamdahealth-pos-desktop-stg_1.1.4_x64-setup.exe releases/zamdahealth-pos-desktop-stg_1.1.5_x64-setup.exe releases/zamdahealth-pos-desktop-stg_1.1.6_x64-setup.exe releases/zamdahealth-pos-desktop-stg_1.1.7_x64-setup.exe
releases/zamdahealth-pos-desktop-stg_1.1.2_x64-setup.exe releases/zamdahealth-pos-desktop-stg_1.1.3_x64-setup.exe releases/zamdahealth-pos-desktop-stg_1.1.4_x64-setup.exe releases/zamdahealth-pos-desktop-stg_1.1.5_x64-setup.exe releases/zamdahealth-pos-desktop-stg_1.1.6_x64-setup.exe releases/zamdahealth-pos-desktop-stg_1.1.7_x64-setup.exe
